---
layout: default
permalink: /archive
---

<div class="labels">
  <div><span class="bg-red"></span> algorithms, science</div>
  <div><span class="bg-purple"></span> technology, curiosities</div>
  <div><span class="bg-green"></span>research, papers, projects</div>
  <div><span class="bg-white"></span> others</div>
</div>

<ol class="stories">
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture cyear %}{{ site.time | date: '%Y' }}{% endcapture %}
  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nyear %}
    <li class="story">
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% if year == '2016' %}
      <p>My first scientific publication. Researching <a href="https://eprint.iacr.org/2016/468">chaos machine</a> theory. Learning LaTeX & TeX.</p>
    {% endif %}
    {% if year == '2015' %}
      <p>Exploring cryptography and how operating system works. Learning Shell and markup languages like HTML5 or Yaml. In 24 hours, coded a pseudo-random number generator that passes all randomness tests.</p>
    {% endif %}
    {% if year == '2014' %}
      <p>Learning programming languages such as Javascript, Python, Ruby & ANSI C. Becoming familiar with basic concepts, data structures and algorithms. Started using OS X. My first open source project called <a href="https://github.com/maciejczyzewski/hyhyhy">hyhyhy</a>.</p>
    {% endif %}
    </li>
  {% endif %}
  {% include story.html %}
{% endfor %}
</ol>
