---
layout: default
---

<div class="ta">
    <p>{{ site.description }}</p>

    <div class="profiles grid">
        <div class="col-3" id="github">
            <a href="https://github.com/MaciejCzyzewski">
                <img src="/assets/images/icons/github.svg" alt="github" />
                <span>github</span>
            </a>
        </div>
        <div class="col-3" id="twitter">
            <a href="https://twitter.com/_czyzewski">
                <img src="/assets/images/icons/twitter.svg" alt="twitter" />
                <span>twitter</span>
            </a>
        </div>
        <div class="col-3" id="stackoverflow">
            <a href="http://stackoverflow.com/users/2601031/maciej-a-czyzewski">
                <img src="/assets/images/icons/stackoverflow.svg" alt="stackoverflow" />
                <span>stackoverflow</span>
            </a>
        </div>
        <div class="col-3" id="mail">
            <a href="mailto:maciejanthonyczyzewski@gmail.com">
                <img src="/assets/images/icons/mail.svg" alt="mail" />
                <span>mail</span>
            </a>
        </div>
    </div>
</div>

<hr class="grid" style="border-color: #000"><br>

<ol class="stories grid">
{% for post in site.posts %}
    {% unless post.next %}
        <h3 class="ta">{{ post.date | date: '%Y' }}</h3>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            <h3 class="ta">{{ post.date | date: '%Y' }}</h3>
        {% endif %}
    {% endunless %}

    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.content | strip_html | truncatewords: 10 }}</p>
        <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%-d %B" }}</time>
    </li>
{% endfor %}
</ol>
