<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        
        <link rel="stylesheet" href="/assets/base.css" />
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    </head>
    <body>
        <header>
            Blog by <strong>Maciej Czyżewski</strong>.
            Find me on <a href="https://github.com/MaciejCzyzewski">GitHub</a>.
            Learn more <a href="/about.html">about me</a>.
        </header>
        <section>
            {{ content }}
        </section>
    </body>
</html>
