---
layout: default
---

<article class="grid">
  <hgroup>
    <h1>{{ page.title }}</h1>
    <span class="small">Posted on <time datetime="{{ post.date | date:"%Y-%m-%dT%H:%M:%SZ" }}">{{ page.date | date_to_long_string }}</time></span>
  </hgroup>

  <div>{{ content }}</div>

  <!-- Twitter -->
  <div class="comments"><div><aside><a href="https://twitter.com/share?text=@_czyzewski&url={{ site.url }}{{ page.url }}"><img src="/assets/images/icons/twitter.svg" alt="twitter"><span>discuss this article on twitter</span></a></aside></div><nav><a href="{{ page.previous.url }}">« previus</a><a href="{{ page.next.url }}">next »</a></nav></div>

  <!-- Google -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px;margin-left:10px;margin-top:10px" data-ad-client="ca-pub-9331163244149195" data-ad-slot="5311316263"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</article>
